.carousel-container {
  position: relative;
}

.carousel-back-arrow,
.carousel-forward-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;

  cursor: pointer;
}

.carousel-back-arrow {
  left: -5px;
}

.carousel-forward-arrow {
  right: -5px;
}
