.project-card {
  border: $border-primary;
  width: 500px;
  height: 575px;
  padding: 1rem;
  background: $card-bg;
  border-radius: 10px;

  blockquote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  &__description {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px;
    background: rgba(0, 0, 0, 0.255);
    border-radius: 20px;
    width: 100%;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__tech-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
    margin: 10px;
  }
  &__tech-item {
    background: $bg-gradient;
    border: $border-primary;
    border-radius: 20px;
    padding: 1px 15px;
  }
}

.mobile {
  width: 100%;
  max-width: 500px;
  min-height: 530px;
  img {
    max-width: 90%;
  }
}

@media (min-width: 769px) {
  .project-card {
    &:hover {
      transition: transform 0.4s;
      transform: scale(1.01);
      box-shadow: 0px 0px 5px 1px $secondary;
    }
  }
}
