.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 3px 3px 10px;
  position: relative;

  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 85%;
    background: var(--accent);
  }

  &__moon,
  &__sun {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) {
}
