.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 3px 3px 10px;
  position: relative;

  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 85%;
    background: var(--accent);
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    position: relative;
  }
  &__moon,
  &__sun {
    position: absolute;
    width: 25px;
    height: 25px;
    transition: all 0.2s ease-out;
    &.hide {
      visibility: hidden;
      opacity: 0;
      transform: scale(0);
    }
    &.display {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}

@media (min-width: 768px) {
}
