@use "tailwindcss";

@use "@/styles/pages/projects.scss";
@use "@/styles/pages/project-page.scss";
@use "@/styles/pages/profile.scss";

//Components import
@use "@/styles/components/navbar.scss";
@use "@/styles/components/project-card.scss";
@use "@/styles/components/tech-item.scss";
@use "@/styles/components/theme-toggle.scss";
@use "@/styles/components/language-switcher.scss";

:root {
  --bg-color: hsl(0, 0%, 5%);
  --text-color: #090f15;
  --bg-gradient: linear-gradient(
    180deg,
    rgb(67, 67, 67) 0%,
    rgb(26, 26, 26) 100%
  );
  --border-primary: rgb(70, 70, 70) solid 1px;
  --card-bg: rgba(0, 0, 0, 0.1);

  --background: #f0f5fa;
  --primary: rgb(142, 181, 228);
  --secondary: rgb(22, 77, 143);
  --accent: #004ead;
  --accent-half: rgba(0, 78, 173, 0.15);
  --tech-bg: #0d2c4f;
}

.dark {
  --bg-color: hsl(0, 0%, 5%);
  --text-color: rgb(235, 240, 246);
  --bg-gradient: linear-gradient(
    180deg,
    rgb(67, 67, 67) 0%,
    rgb(26, 26, 26) 100%
  );
  --border-primary: rgb(70, 70, 70) solid 1px;
  --card-bg: rgba(255, 255, 255, 0.1);

  --background: rgb(5, 10, 15);
  --primary: rgb(22, 77, 143);
  --secondary: rgb(142, 181, 228);
  --accent: rgb(0, 114, 255);
  --accent-half: rgba(0, 115, 255, 0.15);
  --tech-bg: #0d2c4f;
}

html {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
main {
  max-width: 1440px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  height: auto;
  border-bottom: 1px solid hsl(0, 0%, 20%);
  margin-bottom: 25px;
  background-color: var(--background);
}

section {
  width: 100%;
  padding-bottom: 25px;
  position: relative;
}

section:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 5%,
    var(--accent) 50%,
    rgba(0, 0, 0, 0) 95%
  );
  margin-top: 10px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 800;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.tag-item {
  background: var(--primary);
  border: var(--border-primary);
  border-radius: 7px;
  padding: 1px 15px;
  text-transform: capitalize;
}

.btn {
  font-size: large;
  padding: 5px 15px;
  background: var(--primary);
  border: var(--border-primary);
  border-radius: 8px;
  &:hover {
    background: var(--accent);
    border: var(--border-primary);
  }
  &:active {
    transform: translate(1px, 1px);
  }
}

.accent {
  color: var(--accent);
}

.bold {
  font-weight: 700;
}
