.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 2rem;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  text-align: center;
  padding: 0.25rem;

  @media (min-width: 768px) {
    padding: 1.5rem;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__content {
    width: 100%;
    flex: 1;
    padding: 1rem;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;

    @media (min-width: 768px) {
      font-size: 2rem;
      text-align: left;
    }
  }

  &__text {
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  &__wordsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    width: 100%;
    flex: 1;
    filter: drop-shadow(0 0 8px rgb(21, 174, 0));
    overflow: hidden;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 550px;
  width: 100%;
  overflow: hidden;

  &__title {
    position: relative;
    transform: rotate(-3deg);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: -10;
      width: 110%;
      height: 2px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        var(--accent) 100%
      );
      z-index: -1;
      border-radius: 0.25rem;
      transform: rotate(3deg);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      right: -10;
      width: 110%;
      height: 2px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 0, 0) 0%,
        var(--accent) 100%
      );
      z-index: -1;
      border-radius: 0.25rem;
      transform: rotate(3deg);
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;

  @media (min-width: 768px) {
    margin-top: 2rem;
  }

  &__title {
    position: relative;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 2rem;
    transform: rotate(-3deg);

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: -10;
      width: 110%;
      height: 2px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        var(--accent) 100%
      );
      z-index: -1;
      border-radius: 0.25rem;
      transform: rotate(3deg);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      right: -10;
      width: 110%;
      height: 2px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 0, 0) 0%,
        var(--accent) 100%
      );
      z-index: -1;
      border-radius: 0.25rem;
      transform: rotate(3deg);
    }
  }

  &__subtitle {
    margin-bottom: 0.25rem;
  }
}

.skillList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.grid {
  position: fixed;
  top: 0;
  right: 0;
  left: 1;
  bottom: 0;
  height: 150%;
  max-width: 1440px;
  margin: 0 auto;
  background-size: 35px 20px;
  background-image: linear-gradient(
      to right,
      rgba(21, 174, 0, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(21, 174, 0, 0.5) 1px, transparent 1px);
  transform: perspective(100px) rotateX(20deg);
  z-index: -1;
  opacity: 0.15;
  box-shadow: 0 0 500px rgba(21, 174, 0, 1);

  &::after,
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 10px;
    height: 20%;
    background-color: white;
    border-radius: 0.125rem;
    box-shadow: 0 0 25px rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 1));
  }

  &::after {
    left: 0;
  }

  &::before {
    right: 0;
    animation-delay: 1s;
  }
}

.movingBar {
  position: absolute;
  width: 2px;
  height: 30%;
  background-color: rgb(255, 255, 255);
  // box-shadow: 0 0 25px rgba(21, 174, 0, 1);
  filter: drop-shadow(0 0 15px rgba(21, 174, 0, 1));
  transform: translate(-50%, -50%);
}

.light {
  position: sticky;
  width: 100vw;
  height: 10px;
  top: 0;
  box-shadow: 0 15px 40px rgba(21, 174, 0, 0.5);
  border-radius: 0 0 50% 50%;
}
